body {
    background-image: url('./images/greyspace.jpg');
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

html, 
body {
    width: 100%;
}

.outer-div {
    border: 1px solid #f81404;
    width: 40%;

}

.title {
    color: #f81404;
    border-bottom:  1px solid #f81404;
    margin-left: 5px;
}

#format-form1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    width: 92%;
}

.top-input {
    width: 80%;
    border: 1px solid #f81404;
}

.top-button {
    width: 20%;
}


#format-form2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f81404;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    color: #f81404;
}

input[type=text] {
    -webkit-text-fill-color: #f81404 !important;
    font-size: 70%;
    padding-left: 2%;
    border: 1px solid #f81404;
}

#submit {
    background-color: white;
    border: 1px solid #f81404;
    color: #f81404;
}

#edit {
    width: 80%;
    display: flex;
    margin: 0px 0px 5px 0px;
}

#delete {
    width: 20%;
    margin: 0px 0px 5px 0px;
}

.delete {
    padding-top: 3px;
    padding-bottom: 3px;
}

.task-item {
    color: #f81404;
    font-weight: bold;
    margin-top: 5px;
}

.button-div1 {
    border-top: 1px solid #f81404;
    border-bottom: 1px solid #f81404;
}

@media only screen and (min-width: 320px) {
    .outer-div {
        margin-left: 5px;
        width: 90%;
    }

    input[type="text"] {
        font-size: 50%;
        padding-left: 1%;
    }

    #submit {
        font-size: 50%;
    }

    .delete {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    #format-form1 {
        width: 98.2%;
    }

    .top-input {
        width: 68%;
    }
    
    .top-button {
        width: 32%;
    }
    
}

@media only screen and (min-width: 360px) {
    #format-form1 {
        width: 96.5%;
    }

    .top-input {
        width: 71%;
    }
    
    .top-button {
        width: 29%;
    }
}

@media only screen and (min-width: 375px) {
    #format-form1 {
        width: 95.5%;
    }

    .top-input {
        width: 72.5%;
    }
    
    .top-button {
        width: 27.5%;
    }
}    

@media only screen and (min-width: 411px) {
    #format-form1 {
        width: 94%;
    }

    .top-input {
        width: 75%;
    }
    
    .top-button {
        width: 25%;
    }

    #format-form1 {
        width: 96%;
    }

    .top-input {
        width: 72%;
    }
    
    .top-button {
        width: 28%;
    }
}

@media only screen and (min-width: 414px) {
    .outer-div {
        margin-left: 30px;
        width: 90%;
    }

    input[type="text"] {
        font-size: 60%;
        padding-left: 1%;
    }

    #submit {
        font-size: 60%;
    }

    .delete {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

@media only screen and (min-width: 768px) {
    .outer-div {
        margin-left: 30px;
        width: 60%;
    }

    input[type="text"] {
        font-size: 80%;
        padding-left: 2%;
    }

    #submit {
        font-size: 70%;
    }

    .delete {
        padding-top: 11px;
        padding-bottom: 11px;
    }

    #format-form1 {
        width: 94.5%;
    }

    .top-input {
        width: 74.5%;
    }
    
    .top-button {
        width: 25.5%;
    }
}

@media only screen and (min-width: 1024px) {
    #format-form1 {
        width: 91%;
    }

    .top-input {
        width: 80.5%;
    }
    
    .top-button {
        width: 19.5%;
    }
}

@media only screen and (min-width: 1184px) {
    .outer-div {
        margin-left: 17px;
        width: 40%;
    }

    input[type="text"] {
        font-size: 80%;
        padding-left: 2%;
    }

    #submit {
        font-size: 70%;
    }

    .delete {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}